.link{
  text-decoration: none;
}

.starship-box {
  text-decoration: none;
  border: 1px solid black;
  width: 50%;
  margin:0 auto;
  text-align: left;
  padding: 1rem;
  margin-bottom: 1.2rem;

}

.name-starship{
  margin: 0px;
}

.model-starship{
  margin-bottom: 0px;
}
 

 