img{
    width: 65%;
    
}

.starship{
    display: flex;
    text-align: left;
    justify-content: center;
    width: 65%;
    margin: 0 auto;
    color:  rgb(121, 121, 121);;
}

.container-left, .container-right{
    width: 50%;
}

.container-right >:first-child{
margin-top: 5rem;
}