.register-button{
    all: unset;
    cursor: pointer;
    color:white;
}

.slash{
    color:white;
    margin:0rem 0.5rem;
}

.register-buttons{
    
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
}

.form-button{
    margin: 0rem 0.5rem;
}

.icons{
    color: white;
    display: flex;
    margin-left: 3rem
}

.login{
    display: flex;
    justify-content: space-between;
}

.instagram, .youtube{
    margin-right: 1rem;
}

form{
    display: block;
    border: 1px white solid;
    border-radius: 5px;
    background-color: black;
    width: 30%;
    height: 39%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.user, .password{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

input{
    width: 80%;
    margin:0 auto;
}

.log-in-button, .sign-up-button{
    all:unset;
    border: 1px white solid;
    border-radius: 5px;
    padding: 0.5rem;
    margin-top:1rem;
    cursor: pointer;
    

}